---
import BaseLayout from '../layouts/BaseLayout.astro';
import Grid from '../components/Grid.astro'
import { getCollection } from 'astro:content';

// Content Fetching: List four most recent work projects
const mentions = (await getCollection('mentions'))
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .slice(0, 4);

console.log(mentions)
---

<div class="w-full min-w-full">
    <ul class="flex flex-wrap flex-row gap-8 justify-center content-cente">
    {
        mentions.map((mention) => (
            <li>
                <a href={mention.data.url} target="_blank">
                    <div class="mention-card max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-900 dark:border-gray-700">
                        <img class="rounded-t-lg" src="/assets/stock-3.jpg"/>
                        <div class="flex ml-2 justify-start align-baseline p-3">
                            <h5 class="text-xl">{mention.data.title}</h5>
                        </div>
                    </div>
                </a>
            </li>
        ))
    }
    </ul>
</div>

<style>
    .mention-background {
        grid-area: 1 / 1 / 6 / 6;
        width: 100%;
        height: 100%;
    }

    img {
        left: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .mention-card {
        transition: box-shadow var(--theme-transition);
        box-shadow: var(--shadow-sm);
    }

    .mention-card:focus,
    .mention-card:hover {
        box-shadow: var(--shadow-md);
    }
</style>
